.card-description{
    color: black;
}


.card-master a{
    text-decoration: none;
}

.mission-cover h1,
.mission-cover h2 {
    color: black;
    text-shadow: none;
}

.card-master {
    /* margin: 0 auto; */
    position: absolute;
    top: 440px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
    padding: 0 0 20px 0;


}

.card-left h2,
.card-right h2 {
    color: var(--bg-primary-Clr);
    text-shadow: none;
    text-transform: uppercase;
}

.card-left p,
.card-right p {
    font-size: 14px;
}

.card-left,
.card-right {
    /* border: 2px solid blue; */
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    padding: 15px 20px;
}

.card-left:hover,
.card-right:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    /* background-color: var(--bg-primary-Clr); */
    transition: all 0.45s;
    box-shadow: 0px 10px 1px 1px var(--bg-primary-Clr);
    box-shadow:
    0.3px 0.7px 2.7px rgba(0, 0, 0, 0.037),
    0.9px 1.7px 6.9px rgba(0, 0, 0, 0.053),
    1.8px 3.5px 14.2px rgba(0, 0, 0, 0.067),
    3.7px 7.3px 29.2px rgba(0, 0, 0, 0.083),
    10px 20px 80px rgba(0, 0, 0, 0.12)
  ;


}

.card-left img,
.card-right img {
    
    width: 90%;
    height: auto;
}














@media (max-width:2560px) {
    .card-left,
    .card-right {
        /* border: 2px solid blue; */
        width: 30%;
        height: auto;

    }
    .card-left img,
    .card-right img {
        
        width: 50%;
        height: auto;
    }
    

}
@media (max-width:1440px) {

    .card-left img,
    .card-right img {
        
        width: 80%;
        height: auto;
    }
    

}
/* Responsive For Tablet Screen size 767px to 1023px START */
@media (max-width:1023px) {

    .card-left,
    .card-right {
        /* border: 2px solid blue; */
        width: 40%;
        height: 400px;

    }



    .left-01,
    .left-02,
    .left-03 {

        display: flex;
        flex-direction: row;
        gap: 10px;


    }

    .mission-left,
    .mission-right {
        text-align: left;
        gap: 15px;
    }

    .left-01,
    .left-02,
    .left-03,
    .right-01,
    .right-02,
    .right-03 {
        width: 100%;
        align-items: center;
    }
    .left-01 p, .left-01 h3{
        padding-left: 10px;
    }

}

/* Responsive For Tablet Screen size 601px to 1023px END */





/* Responsive For Mobile Screen size 1024px to 1920px START */
@media (max-width:767px) {

    .card-left,
    .card-right {
        /* border: 2px solid blue; */
        width: 250px;
        height: auto;
    }

    .card-left img,
    .card-right img {
        width: 60%;
        height: auto;
    }

    .card-master {
        display: flex;
        flex-direction: column;
        top: 450px;
        gap: 50px;
    }


}

/* Responsive For Mobile Screen size 1024px to 1920px END */