.card-master a {
  text-decoration: none;
}
.homecard {
  height: auto;
  width: 80%!important;
  display: flex;
  align-items: center;
  display: flex;

  justify-content: center;
  position: absolute;
}
.card {
  margin-top: 20px;
  margin-left: 50px;
  z-index: 5;
  width: 310px;
  height: 300px;
  border: 1px solid gray;
  text-align: center;
  padding: 5px;
  justify-content: space-between;
  height: 350px;
  overflow: hidden;
  flex-direction: row;
  margin-left: 10px;
  background: rgb(243, 243, 243);
  transition: transform 202ms ease-in-out;
  border: 1px solid rgba(233, 233, 233);
  border-radius: 13px;
  box-sizing: border-box;
}
.card:hover {
  cursor: pointer;
  box-shadow: -1px -1px 40px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px -1px 40px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px -1px 40px 0px rgba(0, 0, 0, 0.25);
  transition: transform 02ms ease-in-out;
  transition: 300ms;
  background-color: white;
  color: black;

  z-index: 1;
  transform: skew(1deg, 0deg);
}
.product-image {
  width: 200px;
  height: auto;
}
.Title {
  color: orangered;
  text-transform: uppercase;
  text-shadow: 1px -2px 0px rgba(0, 0, 0, 0);
}
.subdata {
  padding-top: 12px;
  color: rgb(0, 0, 0);
  text-decoration: none !important;
}
.subdata:hover {
  color: black;
}
.h1-head {
  text-align: center;
  font-size: 2em;
  color:#20536F;
  margin-top: 40px;
  margin-bottom: 20px;
  text-shadow: 1px -2px 0px rgba(0, 0, 0, 0);
  font-family: "Poppins", sans-serif;
}
@media (max-width: 2560px) {
  .card-left,
  .card-right {
    /* border: 2px solid blue; */
    width: 30%;
    height: auto;
  }
  .card-left img,
  .card-right img {
    width: 50%;
    height: auto;
  }
}
@media (max-width: 1440px) {
  .card-left img,
  .card-right img {
    width: 80%;
    height: auto;
  }
}
/* Responsive For Tablet Screen size 767px to 1023px START */
@media (max-width: 1023px) {
  .card {
    width: 320px;
    margin: 50px;
  }

  .left-01,
  .left-02,
  .left-03 {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .mission-left,
  .mission-right {
    text-align: left;
    gap: 15px;
  }

  .left-01,
  .left-02,
  .left-03,
  .right-01,
  .right-02,
  .right-03 {
    width: 100%;
    align-items: center;
  }
  .left-01 p,
  .left-01 h3 {
    padding-left: 10px;
  }
}

/* Responsive For Tablet Screen size 601px to 1023px END */

/* Responsive For Mobile Screen size 1024px to 1920px START */
@media (max-width: 767px) {
  .card {
    width: 320px;
    margin-left: 50px;
  }

  .card-left img,
  .card-right img {
    width: 60%;
    height: auto;
  }

  .card-master {
    display: flex;
    flex-direction: column;
    top: 450px;
    gap: 50px;
  }
}

/* Responsive For Mobile Screen size 1024px to 1920px END */
